
<div class="container">
    <%#= JSON.stringify(user) %>

    <a class="navbar-brand" href="/">
        <i class="bi bi-controller me-2"></i>NubiPro
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="ms-auto d-flex align-items-center">
            <form class="d-flex me-3">
                <input class="form-control search-box" type="search" name="search" placeholder="Search games...">
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
            <div class="d-flex">
                
                <% if(user && user.role !== 'admin') { %>
                    <a href="/user/library/<%= user.id %>" class="btn btn-outline-light me-2"> Library</a>
                    <a href="/user/logout" class="btn btn-outline-danger me-2">Logout</a>
                <% } %>

                <% if(!user) { %>
                    <a href="/user/login" class="btn btn-outline-light me-2">Login</a>
                    <a href="/user/register" class="btn btn-success">Register</a>
                <% } %>

                <% if(user && user.role === 'admin') { %>
                    <a href="/games/manage" class="btn btn-success">Manage</a>
                    <a href="/user/logout" class="btn btn-outline-danger me-2">Logout</a>
                <% } %>

                
            </div>
        </div>
    </div>
</div>
